// @import "src\styles\styles.css";


#canvas{
    height: 100%;
    width: 100%;
}

#field{
    height: 100%;
    width: 100%;
}

#thief{
    scale: 5;
    mix-blend-mode: multiply;
}